/* --------------------------------
    DISPAY XS
----------------------------------- */
@media screen and (max-width: 576px) {

body{
    min-width: 501px;
}
/* ----------HEADER---------- */
header{
    width: 70px;
}

/* ----------MAIN---------- */
main{
    flex-grow: 1;
}
/* ----------FOOTER---------- */






}