/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

}

/* -----GENERAL----- */
.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;   
}

.flex-wrap{
    flex-wrap: wrap;
}

/* ----------HEADER---------- */
header{
    width: 233px;
    height: calc(100vh - 120px);
    background-color: black;
    border-bottom: 2px solid red;
    border-top: 2px solid red;
}


/* ----------MAIN---------- */
main{
    width: calc(100% - 233px);
    height: calc(100vh - 120px);
    background-color: grey;

    padding-bottom: 150px;
    overflow-y: auto;
}

main div.upgrade-bar{
    height: 80px;
    width: 100%;
    background-color: #141922;
}

/* Section Disk */
section#disk{
    width: 100%;
}

div.disk-row{
    border: 1px solid red;
    flex-wrap: wrap;
}

div.disk-box{
    width: 200px;
    height: 200px;
    background-color: aqua;

    margin: 0 .5rem;
}


/* ----------FOOTER---------- */
footer{
    width: 100%;
    height: 120px;
    background-color: blue;
}
