/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

}

body{
    font-family: 'PT Sans', sans-serif;
    color: white;
}

/* -----GENERAL----- */
.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;   
}

.flex-around{
    justify-content: space-around;
}

.flex-wrap{
    flex-wrap: wrap;
}

main section{
    margin: 5rem 0;
}

.img-circle{
    border-radius: 50%;
}

a{
    text-decoration: none;
    color: white;
}

/* ----------HEADER---------- */
header{
    width: 233px;
    height: calc(100vh - 120px);
    background-color: black;
    color: white;

    position: relative;
}

/* Logo */
header img.main-logo{
    width: 150px;
    margin: 1rem 1rem 0;
}

header img.logo-small{
    display: none;
}

/* Nav */
nav.main-nav{
    margin: 2rem 0;
}
nav.main-nav ul li{
    list-style: none;
    font-size: 2rem;
    padding-left: 1rem;
    margin: .5rem 0;
}

/* Playlist */
section#playlist{
    margin: .5rem 0;
}

section#playlist ul li{
    list-style: none;
    font-size: 1.5rem;
    padding-left: 1rem;
    margin: .5rem 0;
}

/* Login */
section#login{
    width: 100%;
    height: 120px;
    background-color: red;

    position: absolute;
    bottom: 0;
    left: 0;
}


/* ----------MAIN---------- */
main{
    width: calc(100% - 233px);
    height: calc(100vh - 120px);
    background-color: grey;

    padding-bottom: 150px;
    overflow-y: auto;
}

main div.upgrade-bar{
    height: 80px;
    width: 100%;
    background-color: #141922;

    justify-content: flex-end;
}

main div.upgrade-bar a{
    margin-right: 2rem;
}

/* Section Disk Nav */
nav.disk-nav-bar ul{
    flex-wrap: wrap;
}

nav.disk-nav-bar ul li{
    display: inline-block;
    text-transform: uppercase;
    margin: 1rem 2rem;
}

/* Section Disk */
section#disk{
    width: 100%;
}

div.disk-row{
    width: 100%;
    border: 1px solid red;
    flex-wrap: nowrap;
}

div.disk-box{
    width: calc((100% / 6) - .5rem );
    background-color: aqua;

    margin: .5rem;

    text-align: center;
}

div.disk-box img{
    width: 100%;
}

/* Disk Nav Hover */
div.disk-hover{
    position: relative;
    cursor: pointer;
}

div.play-hover{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

div.play-hover i{
    font-size: 4rem;
}

div.disk-hover:hover div.play-hover{
    display: flex;
}

/* ----------FOOTER---------- */
footer{
    width: 100%;
    height: 120px;
    background-color: blue;
    
    position: fixed;
    bottom: 0;
}

div.footer-left,
div.footer-right{
    width: 30%;
    height: 100%;
    background-color: brown;
}

div.footer-center{
    width: 40%;
    height: 100%;
    background-color: chartreuse;
}
